extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h2.display-4.m-b-2 Welcome!
        .row
        a(type='button', href='../apipage') API Access
        .row
        a(type='button', href='../express') Express View
        .row
        a(type='button', href='../gallery') Angular View