extends layout

block content
  h4 Posters

  .row
    each photo in photos
     .col-sm-4
       p Title: #{photo.Title} | Year: #{photo.Year}
       p Genre: #{photo.Genre}
       img(src=photo.imageurl, width="250")
       p 
         button
           a(href='/express/' + photo._id) Edit Photo

  include newphoto