<div *ngIf="photo">
  <h3> {{ photo.title | uppercase }} Details:</h3>
  <div class="detailphoto"><img src="{{ photodisplayurl }}"></div>
  <div *ngIf="!editing">
    <div><span>Title: </span> {{ photo.title }}</div>
    <div><span>Description: </span>{{ photo.description }}</div>
    <div><span>Resort: </span>{{ photo.resort }}</div>
    <button class="btn btn-link" (click)="setEditMode(true)">edit</button>
    <a class="btn btn-link" routerLink="/gallery">Back To Gallery</a>
  </div>
</div>

<div *ngIf="editing">
  <form #form="ngForm" (ngSubmit)="updatePhoto(form.value)">
    <div class="form-group">
      <label for="titleField">Title:</label>
      <input #title name="titleField" class="form-control" [ngModel]="photo.title">
      <br />
      <label for="descField">Description:</label>
      <input name="descField" class="form-control" [ngModel]="photo.description">
      <br />
      <label for="resortField">Resort:</label>
      <input name="resortField" class="form-control" [ngModel]="photo.resort">
    </div>
    <button type="submit">Save</button>
    <button type="button" (click)="setEditMode(false)">Cancel</button>
    <button type="button" (click)="deletePhoto()">Delete This Photo</button>
  </form>
</div>
