<div class="card">
  <div class="card-body photo">
    <a routerLink="/angular/{{photo._id}}">
      <img  class="card-img-top"
            [src]="photo.displayurl"
            aria-controls="active"
            style="max-height:250px;max-width:250px;">

      <strong class="card-title">Title: </strong> {{ photo.title }}
      <p class="card-text" style="position:absolute; bottom:60px;">
        <strong class="card-title">Description: </strong> 
        {{ photo.description }}
      </p>
    </a>
  </div>
  <div style="position:absolute; bottom:2px; display:block; width: 100%; margin:0 auto; text-align:center;" >
    <button 
       (click)="upvote(photo.title)" 
       [disabled]="voted"> Upvote! {{ votes }} 
     </button> 
   </div>

</div>

